@media screen and (min-width:300px) and (max-width: 890px){
    .heading-sec{
        padding-top: .3rem;
        padding-bottom: .5rem;
        .heading-tittle{
            h1{
                font-size:45px;
                font-weight:400;
                num{
                    font-size:60px ;
                }
            }
        }
    }

    .container-intro {
        //display: grid;
        //grid-template-columns: repeat(2,1fr);
        display: block;
        .intro-pic {
            padding-top: 1rem;
            width:99%;
            padding-bottom: 1rem;
        }
        .intro-text {
            padding-top: 3rem;
            padding-right: 0rem;
            padding: .1rem;
            text-align: justify;
            hyphens: auto;
            -webkit-hyphens: auto;
            word-spacing: -0.05em;
            //word-break: break-all;
            font-size: 15px;
            .intro-price {
                font-size:35px;
                font-family: gilroy; 
                text-align: center !important;
            }

            .intro-mini-detail {
                display: flex;
                flex-wrap: wrap;
                //flex-basis: 25%;
                section{
                    min-width: 50%;
                }
                section:nth-child(2){
                    border-right: 0;
                }
                section:nth-child(1) {
                    border-bottom: 1px solid #ddd;
                }
                section:nth-child(1) section:nth-child(2){
                    border-bottom: 1px solid #ddd;
                } 
                section:nth-child(2){
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }

    .container-features{
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        .features-tittle{
            font-size: 25px;
            margin: 0;
            padding: 0;
            text-align: center;
            justify-content: center;
            align-content: center;
            width: 100%;
        }
        .features-tag {
            ul{
                margin:.7rem;
                padding:0;
                li{
                    padding: 5px;
                    font-size: 14px;
                    margin: 6px 9px 6px 0;
                }
            }
        }
    }

    .container-photo-galary{
        .photo-heading{
            h2{
                font-size: 2em;
                span{
                    font-weight: 50;
                }
            }
        }
        .animated-gallery{
            .carousel {
                width: 95vw;
                height: 35vh;
            }
            .carousel-button{
                font-size: 2rem;
            }
        }
    }

    .container-media{
        .media-heading{
            h2{
                font-size: 2em;
                span{
                    font-weight: 50;
                }
            }
        }
        .media-tab{
            width: 90%;
            .tab-content{
                width: 95%;
            }
        }
    }

}