*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
*, *::before, *::after {
    box-sizing: border-box;
  }

//--color-secondary: #27AE60; --color-primary: #191d2b;
:root {
    --color-primary: #e4e4e4;
    --color-secondary: #797e7b;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,0.3);
    --transition-1: all .4s ease-in-out;
}

body{
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .5s ease-in-out;
    margin: 0;
}

.heading-sec{
    color: var(--color-black);
    padding-top: .3rem;
    padding-bottom: .5rem;
    
    .heading-tittle{
        position:sticky; 
        h1 {
        text-align:center; font-size:80px; text-transform:uppercase; color:#222; letter-spacing:1px;
        font-family:"Playfair Display", serif; font-weight:400;
        span {
            margin-top: 5px;
              font-size:20px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
              text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
          
              display: grid;
              grid-template-columns: 1fr max-content 1fr;
              grid-template-rows: 27px 0;
              grid-gap: 20px;
              align-items: center;
          }
          span:after,span:before {
            content: " ";
            display: block;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            height: 5px;
            background-color:#f8f8f8;
        }

        }
      }
    }

.container-intro {
    background-color: #000;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; 
    .intro-pic {
        justify-content: center;
        align-items: center;
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        img {
        max-width: 100%; /* Set the max-width to 100% */
        border-radius: var(--br-sm-2);
        }
    }
    .intro-text {
        display: flex;
        flex-direction: column;
        padding-right: 4rem;
        .intro-price {
            font-size:45px;
            font-family: gilroy; 
            font-weight: 200px;
            letter-spacing:1px;
        }
        .intro-mini-detail {
            border:#ccc;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #fff;
            padding: 30px 20px;
            color:#000;
            box-shadow: -4px 6px 20px #0000001a;
            section{
                padding: 1rem;
                text-align: center;
                border-right: 1px solid #ddd;
                flex: 1 1 0;
                min-width: 150px;
                max-width: 100%;
                text-align: center;
                padding: 18px 6px;
                i{
                    font-size: 42px;
                    width: 50%;
                    height: 50%;
                    padding-bottom: 1rem;
                }
            }
            section:last-child{
                border-right: 0;
            }
        }
    }
    
}

.container-features{
    color:#000;
    display: flex;
    padding: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1500px;
    width: 100%;
    .features-tittle{
        text-align: center;
        justify-content: center;
        align-content: center;
        font-family: "Avenir Next";
        font-weight: 400px;
        letter-spacing:1px;
    }
    .features-tag {
        box-sizing: border-box;
        font-family: "Avenir Next","Open Sans",sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-left: 2rem; 
        justify-content: center;
        align-items: center;
        ul {
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            margin-top: 0;
            margin-bottom: 9.5px;
            li {
                display: inline-block;
                padding: 15px;
                font-size: 16px;
                position: relative;
                background: #f9f9f9;
                padding: 10px 14px;
                margin: 10px 20px 10px 0;
                border-radius: 5px;
            }
        }
        
    }
}


.container-photo-galary{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
        .photo-heading{
            margin: 2rem 1rem 0 1rem;
            //width: 100%;
            margin-bottom: 1rem;
            h2{
                font-size: 3em;
                font-weight: bolder;
                padding-bottom: 10px;
                border-bottom: 3px solid #222;
                span{
                    font-weight: 100;
                }
            }
        }
        .animated-gallery {
            margin: 2rem;
            .carousel {
                width: 95vw;
                height: 95vh;
                position: relative;
                
              }
              
              .carousel > ul {
                margin: 0;
                padding: 0;
                list-style: none;
              }
              
              .slide {
                position: absolute;
                inset: 0;
                opacity: 0;
                transition: 200ms opacity ease-in-out;
                transition-delay: 200ms;
              }
              
              .slide > img {
                display: block;
                cursor: pointer;
                border-radius: var(--br-sm-2);
                position: center;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
              
              .slide[data-active] {
                opacity: 1;
                z-index: 1;
                transition-delay: 0ms;
              }
              
              .carousel-button {
                
                position: absolute;
                z-index: 2;
                background: none;
                border: none;
                font-size: 4rem;
                top: 50%;
                transform: translateY(-50%);
                color: rgba(255, 255, 255, .5);
                cursor: pointer;
                border-radius: .25rem;
                padding: 0 .5rem;
                background-color: rgba(0, 0, 0, .1);
              }
              
              .carousel-button:hover,
              .carousel-button:focus {
                color: white;
                background-color: rgba(0, 0, 0, .2);
              }
              
              .carousel-button:focus {
                outline: 1px solid black;
              }
              
              .carousel-button.prev {
                left: 1rem;
              }
              
              .carousel-button.next {
                right: 1rem;
              }
        }
    }
/*
.container-PhotoGallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 1rem 0 1rem;
    .heading{
        width: 100%;
        margin-bottom: 1rem;
        h2{
            font-size: 3em;
            font-weight: bolder;
            padding-bottom: 10px;
            border-bottom: 3px solid #222;
            span{
                font-weight: 100;
            }
        }
    }
    .box{
        display: flex;
        flex-direction: row;
        width: 100%;
        .dreamhouseimg{
            display: flex;
            flex-direction: column;
            width:  33.3%;
            img{
                width: 100%;
                padding: .4rem;
                border-radius: 1rem;
            }
        }
    }
}
*/

.container-media{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    
    .media-heading{
        margin: 2rem 1rem 0 1rem;
        //width: 100%;
        margin-bottom: 1rem;
        color: #222;
        h2{
            font-size: 3em;
            font-weight: bolder;
            padding-bottom: 10px;
            border-bottom: 3px solid #222;
            span{
                font-weight: 100;
            }
        }
    }
    .container {
        width: 120vmin;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        right: 50%;
        background-color: #ffffff;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
      }
      .tabs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      h3 {
        background-color: #e4e9fd;
        text-align: center;
        padding: 15px 0;
        cursor: pointer;
        font-weight: 600;
      }
      .tab-content {
        background-color: #ffffff;
        padding: 50px 40px;
          iframe {
            border-radius: var(--br-sm-2);
          }
          .lightbox-content {
            background-color: red;
          }
        }
      .tab-content h4 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #000224;
        font-weight: 600;
      }
      .tab-content p {
        text-align: justify;
        line-height: 1.9;
        letter-spacing: 0.4px;
        color: #51536b;
      }
      .tab-content div {
        display: none;
      }
      .tab-content .active {
        display: block;
      }
      .tabs .active {
        background-color: #ffffff;
        color: #2e2f3b;
      }
}

.container-location{
    background-color: #000;
    //display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .location-heading {
        margin: 2rem 1rem 0 1rem;
        max-width: 100%;
        margin-bottom: 1rem;
        h2{
            font-size: 3em;
            font-weight: bolder;
            padding-bottom: 10px;
            border-bottom: 3px solid #222;
            br {
                margin: 1rem 0;
             }
            span{
                font-weight: 100;
                font-size: 1.5rem;
            }
        }
    }
    .gmap {
        max-width: 100%;
        position: relative;
        margin:2rem;
        padding-bottom: 2rem;
    }
}

.container-contact{
    
    .contact-heading {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2rem 1rem 0 1rem;
        max-width: 100%;
        margin-bottom: 1rem;
        h2{
            font-size: 3em;
            font-weight: bolder;
            padding-bottom: 10px;
            border-bottom: 3px solid #222;
            color: #222;
            span{
                font-weight: 100;
                font-size: 3rem;
            }
        }
    }
    .contact-body{
        display: flex;


        .contact-userInfo-left-col{
            img {
                border-radius: 50%;
                scale:55%;
            }
        }

        .contact-right-col{
            .contact-form{        
                @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

                .formcarry-container {
                box-sizing: border-box;
                margin: 40px auto 0 auto;
                padding: 0;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.01em;
            
                width: 400px;
            
                /* NORMAL */
                --fc-border-color: #ECEFF9;
                --fc-normal-text-color: #0E0B3D;
                --fc-normal-placeholder-color: #B3B8D0;
            
                /* PRIMARY COLOR | HSL FORMAT*/
                --fc-primary-color-hue: 220;
                --fc-error-color-hue: 356;
                --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
                --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;
            
                /* HOVER */
                --fc-field-hover-bg-color: #F7F9FC;
                --fc-border-hover-color: #DDE0EE;
                --fc-field-hover-text-color: #B3B8D0;
            
                --fc-border-active-color: #1463FF;
                }
            
                .formcarry-container * {
                box-sizing: border-box;
                }
            
                .formcarry-container label {
                display: block;
                cursor: pointer;
                }
            
                .formcarry-container .formcarry-block:not(:first-child) {
                margin-top: 16px;
                }
            
                /*=============================================
                =            Fields           =
                =============================================*/
                
                .formcarry-container input,
                .formcarry-container textarea,
                .formcarry-container select {
                margin-top: 4px;
                width: 100%;
                height: 42px;
                border: 1px solid var(--fc-border-color);
                color: var(--fc-normal-text-color);
                border-radius: 6px;
                padding: 8px 12px;
                
                font-family: "Inter", sans-serif;
                font-size:14px;
                transition: 125ms background, 125ms color, 125ms box-shadow;
                }
            
                .formcarry-container textarea{
                min-height: 188px;
                max-width: 100%;
                padding-top: 12px;
                }
            
                .formcarry-container input::placeholder,
                .formcarry-container textarea::placeholder,
                .formcarry-container select::placeholder {
                color: var(--fc-normal-placeholder-color);
                }
            
                .formcarry-container input:hover,
                .formcarry-container textarea:hover,
                .formcarry-container select:hover {
                border-color: var(--fc-border-hover-color);
                background-color: var(--fc-field-hover-bg-color);
                }
            
                .formcarry-container input:hover::placeholder,
                .formcarry-container textarea:hover::placeholder,
                .formcarry-container select:hover::placeholder {
                color: var(--fc-field-hover-text-color);
                }
            
                .formcarry-container input:focus,
                .formcarry-container textarea:focus,
                .formcarry-container select:focus {
                background-color: #fff;
                border-color: hsl(var(--fc-primary-hsl));
                box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
                outline: none;
                }
            
                .formcarry-container select {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
                /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
                background-size: 24px 24px;
                background-position: 98%;
                background-repeat: no-repeat;
                appearance: none;
                -webkit-appearance: none;
                }
            
                .formcarry-container button {
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: -0.02em;
                height: 42px;
                line-height: 40px;
                width: 100%;
                border-radius: 6px;
                box-sizing: border-box;
                border: 1px solid hsla(var(--fc-primary-hsl));
                background-color: hsla(var(--fc-primary-hsl));
                color: #fff;
                cursor: pointer;
                }
            
                .formcarry-container button {
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: -0.02em;
                height: 40px;
                line-height: 24px;
                width: 100%;
                border: 0;
                border-radius: 6px;
                box-sizing: border-box;
                background-color: hsla(var(--fc-primary-hsl));
                color: #fff;
                cursor: pointer;
                box-shadow: 0 0 0 0 transparent;
                
                transition: 125ms all;
                }
                
                .formcarry-container button:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
                }
                
                .formcarry-container button:focus {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
                border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
                box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
                }
            
                .formcarry-container button:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
                }
            
                .formcarry-container button:disabled {
                background-color: hsla(var(--fc-primary-hsl), 40%);
                cursor: not-allowed;
                }
            
                .formcarry-container input:focus:required:invalid,
                .formcarry-container input:focus:invalid, 
                .formcarry-container select:focus:required:invalid,
                .formcarry-container select:focus:invalid
                {
                color: hsl(var(--fc-error-hsl)); 
                border-color: hsl(var(--fc-error-hsl));
                box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
                }
            
                /*=====  End of Fields  ======*/
            }
        }
    }
}


.container-footer{
    display: flex;
    justify-content: center;
    img {
        width: 50%;
        margin: auto;
        display: block;
        scale: 60%;
    }
}

